# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.dblite
*.log
*.swp

# Executables
*.exe
*.out
*.app
c_hashmap/*
libuv/*
samples/amic_test
